mapillary_thumbs/
2016central_commercial_summary.json
2016north_commercial_summary.json
barrio_pop_density_clenaed.geojson
barrio_pop_density_street_estra_clenaed_reproject.geojson
barrio_pop_density_street_estra_clenaed_reproject_homicide.geojson
barrio_pop_density_street_estra_clenaed_reproject_homicide_graffiti.geojson
barrio_pop_density_street_estra_clenaed_reproject_homicide_graffiti_commercial.geojson